$headings-font-family: "Roboto", Times, serif;

$primary: #22A1ED;
$dark: #04040C;
$headings-color: #284876;
$card-bg: #FCFCFC;


h1 img {
    width: auto;
    height: 10em;
    object-position: center;
}

.alertIndex {
    display: none;
}

#error {
    display: none;
}

main img {
    object-fit: cover;
}

i {
    font-style: normal !important; 
}

table {
    width: 100%;
}